@import '../../styles/mixins';

.background_menu {
  @include back_photo;
  height: 50vh;
  &::before {
    background-image: url("../../assets/images/food-8.jpeg");
  }
  h1 {
    color: #FFFFFF;
    text-align: center;
    margin: 230px 0 0 0;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 10px;
  }
}

.second_part_menu {
  .header_menu_text {
    display: grid;
    grid-template-columns: 6fr 6fr;
    margin: 40px 0 0 0;
    p{
      @include text_menu;
    }
    .right_text{
      justify-self: start;
      align-self: start;
      margin: 0 30px 0 30px;
    }
    .left_text{
      margin: 0 30px 0 30px;
      justify-self: end;
      align-self: end;
    }
  }
}
.main_menu {
  display: grid;
  grid-template-columns: 6fr 6fr;
  margin: 0 16.3%;
  .menu_part {
    display: grid;
    grid-template-columns: 6fr 6fr;
    width: 1000px;


    h4 {
      color: black;
      text-transform: uppercase;
    }

    .price_header {
      display: grid;
      grid-template-columns: 6fr 6fr;
      height: 60px;
      h4 {
        text-align: left;
        color: rgb(37, 37, 37);
        font-size: 19px;
        letter-spacing: 1.9px;
        font-family: "Source Sans Pro", sans-serif;
      }

      span {
        display: block;
        padding: 25px 20px;
        text-align: center;
        color:rgb(81, 81, 81);
        cursor:pointer;
        font-family: Cabin, sans-serif;
        font-size:19px;
        font-weight:700;
      }
    }

    .desc_button {
      display: grid;
      grid-template-columns: 6fr 6fr;
      height: 60px;
      padding-top: 10px;
      p{
        color:rgb(81, 81, 81);
        display:block;
        font-family: "Source Sans Pro", sans-serif;
        font-size:16px;
        margin: 0;
        line-height:22.8571px;
      }
      button {
        margin-left: 30px;
        width: 150px;
        height: 50px;
        text-transform: uppercase;
        background: white;
        border: 2px solid goldenrod;

        &:hover {
          background: goldenrod;
          color: white;
          transition: 0.15s ease-in-out;
        }
      }
    }
  }
}