//all
@mixin back_photo{
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  position: relative;
  transform-style: inherit;
  width: 100%;
  &:before{
    background: 50% 50% /cover;
  }
  &::before{
    z-index: -1;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    content: "";
    position: absolute;
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    transform-origin: center center 0;
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
  }
}
@mixin default_text_part{
  h1{
    margin: 0;
    opacity: 1;
    color: black;
    font-family: Source Sans Pro, sans-serif;
    font-size:47px;
    font-weight:900;
    letter-spacing:9px;
    line-height:40px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  h2{
    color: #eda64e;
    font-size: 30px;
    margin-right: 10px;
  }
  p{
    font-size:16px;
    line-height:27.2px;
    font-weight:400;
    text-align: center;
  }
}

//reservations
@mixin headers_reservation{
  color: rgb(37, 37, 37);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 24.19px;
  text-transform: uppercase;
  font-stretch: 100%;
  font-weight: 500;
}
@mixin text_reserv{
  color: rgb(81,81,81);
  font-family: Cabin sans-serif;
  font-size: 16px;
  font-style:normal;
  font-weight: 400;
  font-stretch: 100%;
  line-height: 1.7;
}
@mixin next_prev{
  color: white;
  background-color: #252525;
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  margin-top: 290px;
  font-size: 17px;
  &:hover{
    opacity: 0.5;
  }
}
// menu
@mixin text_menu{
  color: #515151;
  font-size: 17px;
  line-height: 1.7;
  font-family: Cabin sans-serif;

}
// blog
@mixin blog_default_text_part{
  a{
    text-decoration: none;
    color:rgb(37, 37, 37);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 32px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 3.2px;
    line-height: 36.32px;
    text-transform: uppercase;
    &:hover{
      color: #C59D5F;
    }
  }
  p{
    display:block;
    font-family:Cabin sans-serif;
    font-size:16px;
    font-stretch:100%;
    font-style:normal;
    font-weight:400;
    line-height:27.2px;
    margin-bottom: 20px;
  }
  .read_more {
    color: rgb(197, 157, 95);
    font-family: Cabin sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    letter-spacing: 1.3px;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      color: black;
    }
  }
  .time{
    text-transform: uppercase;
    color: gray;
    span{
      font-size: 30px;
      padding: 5px;
    }
  }
}








