.navbar{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
    z-index: 1;
}
.nav_left{
    list-style: none;
    width: 50px;
    margin-left: 150px;
    padding: 0;
}
.nav_left h2{
    margin: 13px 0;
    text-underline: #282c34;
    color: white;
    background: cornflowerblue;
}
.nav_left h2:hover{
    color: brown;
    transition: 0.5s;
}
.nav_center{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    list-style: none;
    justify-items: center;
}
.nav_center a{
    padding: 20px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Proxima-Smbd,sans-serif;
    font-size: 15px;
    letter-spacing: .3em;
    color: black;
    text-decoration: azure;
}
.nav_center a:hover{
    background: black;
    color: white;
    transition: 0.6s;
}
.nav_right{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    padding-left: 50px;
    list-style: none;
    justify-items: end;
    align-items: end;
}
.nav_right a{
    color: black;
}