/*seven*/
.seven_part{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas:
          "about about"
          "follow newsletter" ;
  height: 500px;
  background: black;
  width: 100%;
  margin: 0 auto;

}
.about{
  grid-area: about;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 30px;
}
.about h4{
  margin: 0;
  padding: 0;
}
.follow{
  align-self: start;
  justify-self: end;
  grid-area: follow;
  color: #FFFFFF;
  padding-right: 100px;
}
.follow h4 {
  margin-left: 15px;
}
.icons{
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  font-size: 20px;
  list-style: none;
  justify-items: end;
  align-items: end;
}
.icons a{
  padding: 10px;
  color: white;
}

.newsletter{
  margin-left: 100px;
  align-self: start;
  justify-self: start;
  color: white;
  grid-area: newsletter;
}
.newsletter h4{
  margin-left: 35px;
}
.newsletter input{
  font-size: 15px;
}
/*footer*/
.footer{
  height: 90px;
  background:   #262626;
}
.footer p {
  text-align: center;
  color: gray;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 20px;
  margin: 0;
}
@media(max-width: 900px) {
  .seven_part{
    margin: 0 auto;
    width: 100%;
  }
}

@media(max-width: 425px) {
  .seven_part{
    grid: none;
    grid-template-areas:
            "about"
            "follow"
            "newsletter"
  ;
    .about{
      h4{
        margin-top: 20px;
      }
      p{
        margin: 0;
        padding: 0;
      }
    }
    .follow{
      padding-right: 130px;
      h4{
        margin-left: 20px;
      }
    }
    .newsletter{
      margin-left: 27%;
      h4{
        margin-left: 50px;
      }
      margin-bottom: 20px;
    }
  }
}

@media(max-width: 414px) {
  .seven_part{
    grid: none;
    grid-template-areas:
            "about"
            "follow"
            "newsletter"
  ;
    .about{
      h4{
        margin-top: 20px;
      }
      p{
        margin: 0;
        padding: 0;
      }
    }
    .follow{
      padding-right: 130px;
      h4{
        margin-left: 20px;
      }
    }
    .newsletter{
      h4{
        margin-left: 50px;
      }
      margin-bottom: 20px;
    }
  }
}
@media(max-width: 375px){
  .seven_part{
    grid: none;
    grid-template-areas:
            "about"
            "follow"
          "newsletter"
  ;
    .about{
      h4{
        margin-top: 20px;
      }
      p{
        margin: 0;
        padding: 0;
      }
    }
    .follow{
      padding: 0 100px 0 0;
      h4{
        margin-left: 20px;
      }
    }
    .newsletter{
      h4{
        margin-left: 50px;
      }
      margin-bottom: 20px;
    }
  }
}
@media(max-width: 320px){
  .seven_part {
    .follow {
      padding: 0 80px 0 0;
    }

    .newsletter {
      margin: 0 0 20px 60px;
    }
  }
}
