@import '../../styles/mixins';

.blog_first_part {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr 1fr 1fr;
  margin-top: 100px;

  .header_news {
    h1 {
      margin: 0 0 0 350px;
      color: #252525;
      font-family: "Source Sans Pro", sans-serif;
      text-transform: uppercase;
      font-size: 2.9rem;
      line-height: 1;
      font-weight: 1000;
    }
  }

  .categories {
    justify-self: end;
    position: relative;
    text-align: center;
    width: 55.5%;
    padding: 12px;
    border: 2px solid gray;
    border-radius: 5px;

    &:hover .drop_menu {
      top: 0;
      margin: 43px 0 0 0;
      left: -1%;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top: 2px;
      border-top: 2px dashed gray;
      background: white;
    }

    &:hover {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .link_category {
      color: #252525;
      display: block;
      text-decoration: none;
      font-weight: bold;
      font-size: 0.75rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }

    .drop_menu {
      position: absolute;
      border: 2px solid gray;
      top: -9999em;

      ul {
        padding: 0;
      }

      li {
        list-style: none;
        padding: 7px 0;

        a {
          padding: 10px 68px 10px 69px;
          color: #c59d5f;
          text-decoration: none;
        }
      }
    }
  }
  .search {
    align-self: center;
    justify-self: center;
    border: 2px solid gray;
    width: 200px;
    border-radius: 5px;
    input {
      border: none;
      outline: none;
      padding: 3px 0 0 10px;
      width: 150px;
      height: 36px;
      line-height: 16.8px;
      font-family: Cabin sans-serif;
      font-size: 16px;
      font-stretch: 100%;
      font-weight: 400;
    }
    .but {
      font-size: 15px;
      padding: 10.5px 10.5px;
      border: none;
      background: none;
    }
  }
}

// second section
.second_part {
  margin: 50px 350px;
  .blog_first_subpart:nth-child(even){
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding: 30px 0;
    .deleted_1{
      display: none;
    }
    .first_article{
      @include blog_default_text_part;
      text-align: center;
      text-decoration: none;
      margin: 10px 30px 0 0;
    }
  }
  .blog_first_subpart:nth-child(odd){
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding: 30px 0;
    .deleted_2{
      display: none;
    }
    .first_article{
      @include blog_default_text_part;
      text-align: center;
      text-decoration: none;
      margin: 10px 0 0 30px;
    }
  }
  img {
    width: 700px;
    height: 350px;
  }
}
@media(max-width: 1650px){
  .blog_first_part{
    .header_news{
      h1 {
        margin: 0 0 0 250px;
      }
    }
  }
  .second_part {
    margin: 50px 250px;
  }
}
@media(max-width: 1500px){
  .blog_first_part{
    .header_news{
      h1 {
        margin: 0 0 0 150px;
      }
    }
  }
  .second_part {
    margin: 50px 150px;
    img{
      width: 600px;
    }
  }
}
@media(max-width: 1250px){
  .categories{
    height: 20px;
  }
  .search{
    margin-left: 20px;
  }
}
@media(max-width: 1150px){
  .blog_first_part{
    .header_news{
      h1 {
        margin: 0 0 0 50px;
      }
    }
    .categories{
      width: 100px;
    }
  }
  .second_part {
    margin: 50px 50px;
    img{
      width: 500px;
    }
  }
}